.footer{color:#666;text-align:center;}
.footer p{margin-bottom:10px;line-height:5px;}
.footer .footer-nav{color:#999;}
.footer .footer-nav a:link,.footer .footer-nav a:visited{padding:0 3px;color:#36c;}