#header
{
	float:left;
	width:100%;
}
#header #logo
{
	float:left;
	height:70px;
	width:50%;
	padding-top:20px;
}
#header #logo img
{
       width:268px;
       height:53px;	
}
#header #tool
{
	float:right:
	width:50%;
	text-align:right;
	padding-top:60px;
	padding-right:5px;
}
#menu
{
	height:39px;
	width:982px;
}
#menu ul
{
	float:left;
	width:968px;
	height:39px;
	list-style:none;
	margin:0px;
	padding:0px;
	background:url(../images/z_bt_2.jpg) repeat-x;
	

}

#menu li
{
	float:left;
	width:88px;	
	text-align:center;
}
#menu .img
{
	float:left;
	width:7px;
	height:39px;
	background:url(../images/z_t_41.jpg) no-repeat;
}
#menu .img2
{
	float:left;
	width:7px;
	height:39px;
	background:url(../images/z_t_4.jpg) no-repeat;
}
#menu a
{
	display:block;
	padding:13px 0px 8px 0px;
	color:#fff;
	font-weight:bold;
}
#menu A:hover {
	FONT-SIZE: 14px; CURSOR: pointer; COLOR: #fff; TEXT-DECORATION: none;font-weight:bold;background:url(../images/z_bt_4b.jpg) no-repeat;
}
#banner{width:982px;}
