#maincontent
{
	width:100%;
}
#leftcontent
{
	float:left;
	width:202px;
}
#rightcontent
{
        float:right;
	width:775px;
}
#rightcontent #left
{
   float:left;
   width:568px;
}
.newscontent
{
	height:200px;
	padding-top:6px;
       
}
.newscontent ul
{
	width:280px;
	float:right;
	margin:0px;
	padding:0px;
        padding-right:5px;
	list-style:none;
	font-size:12px;
}
.newscontent li
{
	height:25px;
	padding-left:20px;
        line-height:25px;
	background:url(../images/dot2.gif) no-repeat left;

}

.newscontent  span
{
	color:red;
	float:right;
	font-size:12px;
	margin:0px;
	padding:0px;
}
.hz
{
	width:100%;
}
.hz ul
{
	list-style:none;
	padding:0px;
	margin:0px;
	padding-top:5px;
}
.hz ul li
{
 float:left;
 width:140px;
text-align:center;
	
}
.hz ul li img
{
 width:81px;
 height:39px;
}
.mail
{
width:192;
}
.mail form
{
margin:0px;
padding:0px;
}
.mail ul
{
list-style:none;
padding:0px;
margin:0px;
text-align:center;
}
.mail ul li
{
width:192px;
padding-top:5px;
}
.gsjs
{
	padding-left: 20px;
	padding-right: 20px;
padding-top:20px;
height:183px;
	text-align: justify;
}
.gsjs img
{
float: left;
	padding-right: 10px;
}
.gsjs p
{
padding:0px;
margin:0px;
}
.input_text
{
border:0px;
border:1px solid #dadada;
width:120px;
height:18px;
font-size:12px;
}
.more
{
color:#dadada;
font-weight :normal ;
}
a.more:link,a.more:visited
{
	color:#dadada;
font-weight :normal ;
}
.moreline
{
	 font-size:8px;
	 color:Red;
	 line-height:8px;
font-weight :normal;
 	
}
.wmdyw
{
width:198px;
}
.wmdyw ul
{
padding:0px;
margin:0px;
padding-top:5px;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;
}
.wmdyw ul li
{
	height:25px;
	padding-left:20px;
        line-height:25px;
	background:url(../images/dot3.gif) no-repeat left;
}
.ygfc
{
	width:198px;
}
.ygfc ul
{
	width:198px;
	height:170px;
padding:0px;
margin:0px;
list-style:none;
padding-top:5px;
padding-left:8px;
padding-right:5px;
padding-bottom:5px;
}
.ygfc ul li
{
	float:left;
	padding-right:8px;
	width:80px;
	height:80px;
}
.ygfc img
{
	width:80px;
	height:80px;
	border:1px #dadada solid;
	padding:2px 2px 2px 2px;
}











































.memberName {
border:0px;
border:1px solid #dadada;
width:100px;
height:16px;
font-size:12px;
}



























.search
{
	padding:0px;
	margin:0px;
	width:198px;
}
.search ul
{
	list-style:none;
	padding:0px;
	margin:0px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
}
.SubmitInput
{
	width:52px;
	height:19px;
}






























#rightcontent #right
{
float:right;
width:202px;
}
