<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xqy.yongyou.dao.NewsDataMapper">
	<!-- 字段实体关系映射 -->
	<resultMap id="NewsDataMap" type="com.xqy.yongyou.entity.NewsData">
		<id column="id" property="id" jdbcType="INTEGER" />  <!-- 主键 -->
		<result column="cataId" property="cataId" jdbcType="VARCHAR" />  <!-- 分类编号 -->
		<result column="title" property="title" jdbcType="VARCHAR" />  <!-- 分类名称 -->
		<result column="content" property="content" jdbcType="VARCHAR" />  <!-- 内容 -->
		<result column="picture" property="picture" jdbcType="VARCHAR" />  
		<result column="saveFileName" property="saveFileName" jdbcType="VARCHAR" />  
		<result column="savePathFileName" property="savePathFileName" jdbcType="VARCHAR" />  
		<result column="createTime" property="createTime" jdbcType="VARCHAR" />  
		<result column="num" property="num" jdbcType="INTEGER" /> 
		<result column="hits" property="hits" jdbcType="INTEGER" />  
		<result column="status" property="status" jdbcType="VARCHAR" />  
	</resultMap>

	<!-- 分页查询 -->
	<select id="getNewsDataByCataId" resultMap="NewsDataMap">
		SELECT
		D_ID as id,
		D_CataID as cataId, D_Title as title, D_Content as content,
		D_Picture
		as picture, D_SaveFileName as saveFileName,
		D_SavePathFileName as
		savePathFileName,
		D_AddTime as createTime, D_Num as num , D_Hits as
		hits
		FROM newsdata
		where D_CataID = #{cataId} and status =1 order by D_SortID desc, D_ID desc limit
		#{startNo}, #{size}
	</select>
	
	
	<select id="getNewsDatasByCataIds" resultMap="NewsDataMap">
		SELECT
		D_ID as id,
		D_CataID as cataId, D_Title as title, D_Content as content,
		D_Picture
		as picture, D_SaveFileName as saveFileName,
		D_SavePathFileName as
		savePathFileName,
		D_AddTime as createTime, D_Num as num , D_Hits as
		hits
		FROM newsdata
		where D_CataID in 		
		<foreach collection="cataIds" index="index" item="item" open="(" separator="," close=")">
				#{item}
		</foreach>
		and status =1 order by D_SortID desc, D_ID desc limit
		#{startNo}, #{size}
	</select>
	







	<select id="listAllNews" resultMap="NewsDataMap">
		SELECT
		D_ID as id, D_CataID as
		cataId, D_Title as title, D_Content as content,
		D_Picture as picture,
		D_SaveFileName as saveFileName,
		D_SavePathFileName as savePathFileName,
		D_AddTime as createTime, D_Num as num , D_Hits as hits
		FROM newsdata where status =1
		order by  D_SortID desc, D_ID desc limit #{startNo}, #{size}
	</select>
	


	<select id="getNewsDataByCataIdRelation" resultMap="NewsDataMap">
		SELECT
		D_ID as
		id, D_CataID as cataId, D_Title as title, D_Content as content,
		D_Picture as picture, D_SaveFileName as saveFileName,
		D_SavePathFileName as savePathFileName, D_AddTime as createTime, D_Num
		as num , D_Hits as hits
		FROM newsdata
		where D_CataID
		like
		CONCAT(#{cataId}, '%') and status=1 order by  D_SortID desc, D_ID desc limit 0, 12
	</select>

	<insert id="insertData" useGeneratedKeys="true" keyProperty="id">
		insert into newsdata(D_CataID, D_Title,D_Content, D_Picture,
		D_SaveFileName, D_SavePathFileName, D_AddTime, D_Num, D_Hits, d_updateTime,status)
		values
		(#{cataId},#{title},#{content},#{picture},#{saveFileName},
		#{savePathFileName},NOW(),#{num},#{hits},NOW(),1)
	</insert>

	<select id="getRecommendProducts" resultMap="NewsDataMap">
		SELECT D_ID as id,
		D_CataID as cataId, D_Title as title, D_Content as
		content,
		D_Picture as
		picture, D_SaveFileName as saveFileName, D_SavePathFileName as
		savePathFileName,
		D_AddTime as createTime, D_Num as num , D_Hits as
		hits
		FROM newsdata where D_CataID like CONCAT(#{cataId}, '%') and status=1 order by
		 D_SortID desc, D_ID desc
		limit 0, 9
	</select>
	
	<select id="getNewsDataById" resultMap="NewsDataMap">

		SELECT D_ID as id,
		D_CataID as cataId, D_Title as title, D_Content as
		content,
		D_Picture as
		picture, D_SaveFileName as saveFileName, D_SavePathFileName as
		savePathFileName,
		D_AddTime as createTime, D_Num as num , D_Hits as
		hits
		FROM newsdata where D_ID = #{newsId};
	</select>
	
	
	<select id="getNewsDatasByIds" resultMap="NewsDataMap">

		SELECT D_ID as id,
		D_CataID as cataId, D_Title as title, D_Content as
		content,
		D_Picture as
		picture, D_SaveFileName as saveFileName, D_SavePathFileName as
		savePathFileName,
		D_AddTime as createTime, D_Num as num , D_Hits as
		hits
		FROM newsdata where D_ID in 
		<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
				#{item}
		</foreach>
	</select>
	
	<update id="updateData">
		update newsdata
		<set>
			<if test="cataId != null">D_CataID=#{cataId},</if>
			<if test="title != null">D_Title=#{title},</if>
			<if test="content != null">D_Content=#{content},</if>
			<if test="picture != null">D_Picture=#{picture},</if>
			<if test="saveFileName != null">D_SaveFileName=#{saveFileName},</if>
			<if test="savePathFileName != null">D_SavePathFileName=#{savePathFileName},</if>
			<if test="num != null">D_Num=#{num},</if>
			<if test="hits != null">D_Hits=#{hits},</if>
		 	<if test="sortId != null">D_SortID=#{sortId},</if>
			<if test="status != null">status=#{status},</if>
			d_updateTime = NOW()
		</set>
		where D_ID=#{id}
	</update>
	
		
	<select id="listManagerAllNews" resultMap="NewsDataMap">
		SELECT
		D_ID as id, D_CataID as
		cataId, D_Title as title, D_Content as content,
		D_Picture as picture,
		D_SaveFileName as saveFileName,
		D_SavePathFileName as savePathFileName,
		D_AddTime as createTime, D_Num as num , D_Hits as hits,
		status
		FROM newsdata 
		order by D_SortID desc, D_ID desc limit #{startNo}, #{size}
	</select>

</mapper>
