A {
	FONT: 12px 宋体; COLOR: #35375b; TEXT-DECORATION: none
}
A:hover {
	COLOR: #596099; TEXT-DECORATION: underline
}
A.MEUN {
	FONT: 12px 宋体; COLOR: red; TEXT-DECORATION: none
}
A.MEUN:hover {
	COLOR: #a3a3a3; TEXT-DECORATION: underline
}
BODY {
	SCROLLBAR-FACE-COLOR: #eaeaf2; FONT-SIZE: 12px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #9395c0; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #f3f3f8; SCROLLBAR-ARROW-COLOR: #9395c0; SCROLLBAR-TRACK-COLOR: #f3f3f8; FONT-FAMILY: 宋体; SCROLLBAR-DARKSHADOW-COLOR: #f3f3f8; BACKGROUND-COLOR: #dadae9
}
TD {
	TABLE-LAYOUT: fixed; FONT-SIZE: 12px; WORD-BREAK: break-all; LINE-HEIGHT: 120%;
}
TD.FORUMHEADERBACKGROUNDALTERNATE {
	COLOR: #ffffff; BACKGROUND-COLOR: #9395c0
}
A.TABLETITLELINK {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.TABLETITLELINK:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
TD.BORDER1 {
	BACKGROUND-COLOR: #f3f3fa
}
TD.FORUMROW {
	BACKGROUND-COLOR: #f8f8f8
}
TD.FORUMROWHIGHLIGHT {
	background: #f6f6fb;
}
.TABLEBORDER {
	BORDER-RIGHT: #5c609e 1px solid; BORDER-TOP: #5c609e 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: #5c609e 1px solid; WIDTH: 96%; LINE-HEIGHT: normal; BORDER-BOTTOM: #5c609e 1px solid; FONT-STYLE: normal; BACKGROUND-COLOR: #ffffff; FONT-VARIANT: normal
}
.TABLEBORDER1 {
	BORDER-RIGHT: #5c609e 1px solid; BORDER-TOP: #5c609e 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: #5c609e 1px solid; WIDTH: 70%; LINE-HEIGHT: normal; BORDER-BOTTOM: #5c609e 1px solid; FONT-STYLE: normal; BACKGROUND-COLOR: #ffffff; FONT-VARIANT: normal
}
TD.BODYTITLE {
	BACKGROUND-IMAGE: url(images/admin_bg_2.gif)
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(images/admin_bg_1.gif); COLOR: white; HEIGHT: 25px; BACKGROUND-COLOR: #4e5187
}
INPUT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif,宋体; BORDER-RIGHT-WIDTH: 1px; TEXT-DECORATION: none
}
TEXTAREA {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif,宋体; BORDER-RIGHT-WIDTH: 1px; TEXT-DECORATION: none
}
SELECT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif,宋体; BORDER-RIGHT-WIDTH: 1px
}
SPAN {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif,宋体; POSITION: static
}
IMG {
	FILTER: Alpha(opacity:100); chroma: #FFFFFF)
}
.BUTTON {
	BORDER-RIGHT: #666666 1px solid;
	BORDER-TOP: #666666 1px solid;
	FONT-SIZE: 12px;
	BACKGROUND-IMAGE: url(bbk.gif);
	BORDER-LEFT: #666666 1px solid;
	BORDER-BOTTOM: #666666 1px solid;
	HEIGHT: 20px;
	BACKGROUND-COLOR: #ffffff;
	cursor: hand;
}
.BUTTONMAIN {
	BORDER-RIGHT: #585a67 1px solid; BORDER-TOP: #585a67 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(images/bbk_main.gif); BORDER-LEFT: #585a67 1px solid; BORDER-BOTTOM: #585a67 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
.COPYRIGHT {
	PADDING-RIGHT: 1px; BORDER-TOP: #6c70aa 1px dashed; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; FONT: 11px VERDANA,ARIAL,HELVETICA,SANS-SERIF; COLOR: #6c70aa; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.Cihn_TD1 {
	font-size: 12px;
	line-height: 2px;
}
.CihnCss1 {
	font-size: 12px;
	background: #F3F3F3;
	cursor: hand;
}
.CihnCss2 {
	font-size: 12px;
}
