/*
            === ShranM Guestbook StyleSheet File ===
            ===    Name: Default Blue
            ===     For: V2.20/V2.21
            ===      By: Howlion
            ===      On: 2005-08-23
            ===      In: Luoyang, China
            ========================================
*/

body {
	margin: 0px;
	padding: 0px;
	background-color: white;
	background-image: url(images/page_bg.jpg);	
	margin-bottom: 40px;
	font-family: 宋体;
	font-size: 12px;
	line-height: 1.4;
	text-align: center;	
	voice-family: "\"}\"";
	voice-family: inherit;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

A:link, A:visited, A:active {text-decoration: none; color: #420000;}
A:hover {text-decoration: underline; color: #000000;}

#wrapper {					/* 页面框架 */
	margin:0 auto;
	width: 780px;
	position: relative;
	text-align: left;
}

#wrapperInner {
	background: url(images/main_bg.jpg) repeat-y;
	width: 100%;
}

#mainContent {					/* 主内容区 */
	float: right;
	padding-bottom: 30px;
	width: 586px;
}

#gbcontent {padding-top: 25px;}


#footer {					/* 页脚 */
	clear: both;
	background: url(images/footer_bg.jpg);
	height: 65px;
	text-align: center;
	font-size: 11px;
}

h1,h2,h3,p,form,ul {margin: 0px; padding: 0px;}
h2 {font-size: 12px; display: inline;}
h3 {font-size: 12px; display: inline;}
ul {list-style-type: none;}
img {vertical-align: middle; border: 0px none;}
html>body img {max-width: 100%; height: auto;}
img.face {width: 30px; height: 30px;}
img.emot {width: 20px; height: 20px;}
img.imgLink {width: 15px; height: 15px;}
.red {color: #FF0000; font-family: 宋体, Arial, Helvetica, sans-serif;}
.autoSizeImg {clear: both; width: 100%; overflow-x: auto;}
.normalText {font-weight: normal; font-size: 12px;}
.noteText {font-weight: normal; color: #868686;font-family: verdana, arial, helvetica, sans-serif;}
.Highlight {color: #FF5402; font-weight: bold;}
.backText {clear: both;margin-top: 20px; text-align: center;}
.keyword{font-weight: bold; color: white; background-color: #CC3333}
hr {clear: both; margin-right: 8px; height: 1px; border-top: 1px dashed; color: #C09565;}
hr.normalHR {clear: both; margin: 0px 18px; height: 1px; border-top: 1px dashed; color: #C09565;}
#smallWrapper {
	margin: 5px;
	border: 3px solid
	#A57643; background: #FFFFFF;
	height: 100%;
	text-align: left;
}

table {font-size: 12px; table-layout:fixed;}
td{word-break: break-all;}
input,textarea,select {
	font-size: 12px;
	font-family: verdana, arial, helvetica, sans-serif;
}
input.button {
	height: 20px;
	border: 1px solid #B18F49;
	border-top: 1px solid #CFB88C;
	border-left: 4px solid #CFB88C;
	color: #330000; 
	background-color: #F7F3E8;
}


#topArea {					/* 页面顶部区域 */
	background: url(images/header_bg.jpg) no-repeat;
	padding-left: 20px;
	padding-right: 25px;
	height: 100px;
}

#topArea-logo {clear: both;}	/* LOGO显示区域 */

#logo {margin: 8px; 0 0 10px}

#gbInfo {	/* 留言本信息栏（网站名、管理员名、访问统计、留言数等） */
	clear: both;
	padding: 0px 8px 0px 10px;
}

#gbInfo-info {
	float: left;
}

#gbInfo-pageName {
	float: right;
	font-weight: bold;
	color: #420000;
}

#nav {						/* 导航栏 */
	float: left;
	margin: 25px 0 0 10px;
}

html>body #nav {
	margin: 25px 0 0 10px;
	voice-family: "\"}\"";
	voice-family: inherit;
	margin: 25px 0 0 20px;
}

#navLink {
	padding-top: 12px;
	width: 170px;
	background: url(images/nav_top.gif) no-repeat top left;
}

#navLink li {
	margin-left: 92px;
	line-height: 25px;
	vertical-align: top;
	list-style: url(images/list_dot.gif) outside;
}

#navLink ul {}

#navLink li a {
	padding: 0px 10px 0px 0px;
	color: #291410;
}

#navLink li a:hover, #navLink li a.selected {
	color: #C68851;
}

.page {						/* 页码 */
	clear: both;
	text-align: right;
	margin: 0px 37px 12px 0px;
	color: #624417;
	font-family:  Arial, Tahoma,Helvetica, sans-serif;
}

.page A:link, .page A:visited, .page A:active {
	color: #624417;
	text-decoration: none;
}
.page A:hover {
	color: #330000;
	text-decoration: underline;
}
.currtNum {
	font-size: 14px;
	font-weight: bold;
}

.adminLinks {				/* 留言下部的管理链接 */
	clear: both;
	margin: 5px 56px 5px 0px;
	text-align: right;
	color: #5F5F5F;
}
.adminLinks A:link, .adminLinks A:visited, .adminLinks A:active {
	text-decoration: underline;
	color: #5F5F5F;
}
.adminLinks A:hover {
	text-decoration: none;
	color: #000000;
}

.noItem {
	clear: both;
	margin-top: 60px;
	padding: 10px;
	width: 350px;
	height: 120px;
	border: 1px solid #838383;
	background: #EEEEEE;
	vertical-align: middle;
	font-weight: bold;
}

/*
                 =====================================
                 === StyleSheet File for index.asp ===
                 =====================================
*/

.divLine {height: 30px;}

.msgArea {				/* 留言显示容器 */
	clear: both;
	padding-bottom: 30px;
	background: url(images/msgArea_line.gif) no-repeat bottom center;
}
html>body .msgArea{margin: 0 15px;}


.msgArea-clear {
	clear: both;
	visibility: hidden;
}

.msgArea-left {			/* 头像、称呼 */
	float: left;
	margin: 20px 0px 0px 15px;
	padding: 2px;
}

.msgArea-left ul {
	list-style-type: none;
}

.msgArea-left li {
	width: 80px;
	text-align: center;
}

.userFace {}

.face-bulletin {
	border: 0px;
	width: 80px;
	height: 80px;
}

.face-normal {
	border: 0px;
	width: 70px;
	height: 70px;
}

.userName {
	margin: 10px 0px 10px 0px;
	color: #454545;
}

.userName-whisper {
	color: #BEBEBE;
}

.userName-istop {
	color: #875F21;
}

.msgArea-right {	/* 标题、时间、留言内容、回复 */
	float: right;
	width: 410px;
	voice-family: "\"}\"";
	voice-family: inherit;
	margin: 20px 19px 5px 5px;
	width: 420px;
}

html>body .msgArea-right {padding-right: 10px;}

.msgTitleAndTime {
	clear: both;
	background: #DDDDDD;
	border: 1px solid #FF6633;
}

.msgTitle {
	clear: both;
	margin: 0px 3px;
	padding-left: 48px;
	padding-top: 4px;
	word-wrap: break-all;
	background: url(images/title_icon.gif) no-repeat left top;
	height: 42px;
}

.msgTitle-whisper {
	color: #BEBEBE;
}

.msgTitle-istop {
	color: #875F21;
}

.msgTime {
	font-size: 11px;
	float: left;
	margin: -26px 0px 0px 5px;
	padding-left: 42px;
}
html>body .msgTime {
	padding-left: 48px;
}


.userContact {
	float: right;
	margin: -20px 10px 0px 5px;
	padding-left: 42px;
	width: 200px;
	text-align: right;
}

.msgContent {
	clear: both;
	margin: 3px 4px 5px 13px;
	padding-top: 8px;
	white-space: normal;
	word-wrap: break-word;
}

.msgContent-whisper {
	color: #BEBEBE;
	padding: 10px 6px;
}

.msgReply {
	clear: both;
	margin: 10px 35px 5px 9px;
	padding: 5px;
}

.msgReply-top {
	font-size: 11px;
	padding: 2px;
	color: #AA7628;
	border-bottom: 1px dashed #C09565;
}

.msgReply-content {
	color: #4F4F4F;
	white-space: normal;
	word-wrap: break-word;
}

/*
                 ======================================
                 === StyleSheet File for other page ===
                 ======================================
*/

.row {				/* 显示表单内容的行 */
	clear: both;
	margin: 10px 10px 5px 0px;
	white-space: normal;
	word-wrap: break-word;
}

.row-left {
	float: left;
	width: 100px;
	text-align: right;
}

.row-right {
	float: right;
	text-align: left;
	padding-right: 30px;
	width: 446px;
}
html>body .row-right {
	margin: 1px 0px;
	width: 430px;
}

.row-right-graybg {
	margin-top: 3px;
	padding: 3px;
	width: 400px;
	background: #F0E9D0;
	border: 1px solid #E7D5BC;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 380px;
}

#notice {
	clear: both;
	margin: 0 50px 10px 20px;
	padding: 8px;
	text-align: left;
	color: #856C5C;
	background: #F0E9D0;
	border: 1px solid #E7D5BC;
}

.batchArea-left {
	float: left;
	width: 50px;
}

.batchArea-right {
	float: right;
	text-align: left;
	width: 500px;
	padding-right: 30px;
}
html>body .batchArea-right {
	width: 480px;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 490px;
}

.batchArea-topRight {
	float: right;
	margin-top: 8px;
	text-align: right;
	width: 510px;
}
html>body .batchArea-topRight {
	width: 480px;
	margin-bottom: 10px;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 490px;
}

#submitForm {clear: both; margin-top: 50px;} /* 提交留言的表单 */

#searchForm {			/* 输入搜索内容的表单 */
	padding: 10px 40px;
	text-align: left;
	height: 230px;
}

#helpContent {				/* 帮助内容 */
	padding: 12px 50px 10px 30px;
	text-align: left;
	font-family: verdana, Arial, Helvetica, sans-serif;
}

#helpContent li {
	margin: 8px;
	padding-left: 5px;
	list-style: url(images/help_list_dot.gif) outside;
}

#loginForm {				/* 后台登陆表单 */
	height: 290px;
	text-align: center;
}

#errorBox {					/* 错误显示容器 */
	padding: 50px;
	height: 230px;
	text-align: left;
	color: #CC0000;
}

/*
== End Style==
*/